h3, cite, p {
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px; }

h3 {
  font-size: 18px;
  margin: 0;
  min-height: 21px;
  line-height: 21.6px;
  text-decoration: none;
  color: #1a0dab; }
  h3 a {
    color: #1a0dab; }
  h3 a:visited {
    color: #609;
    text-decoration: underline; }

cite {
  font-size: 14px;
  line-height: 16px;
  color: #006621;
  word-break: break-all; }

.page-header {
  padding: 13px 15px;
  border-bottom: none; }
  @media (min-width: 768px) {
    .page-header {
      background-color: #fff;
      border-bottom: none;
      height: 100vh;
      margin: 0; } }

.logo {
  position: relative;
  display: block;
  margin: 20px auto 10px;
  width: 50vw;
  max-width: 375px;
  height: auto;
  animation: pop 0.2s 2s 2 ease forwards; }
  .logo path {
    transform-origin: center center;
    transition: transform 0.1s ease-out; }
    .logo path:hover {
      transform: rotateY(180deg); }
  @media (min-width: 768px) {
    .logo {
      margin: 180px auto 30px; } }

.form-group {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .form-group {
      margin: 0 0 30px; } }

.form-control {
  font-size: 16px;
  height: 38px;
  border-radius: 0;
  border-color: #e5e5e5; }

.btn {
  height: 38px;
  border-radius: 0; }

.btn-search {
  width: 38px;
  background-color: #4285f4; }
  .btn-search:hover {
    background-color: #3b78e7; }
  .btn-search span {
    font-size: 18px;
    margin: 2px 0 0 -4px; }

.feeling-lucky {
  background-color: #f1f1f1;
  border-color: #e5e5e5;
  color: #545454;
  display: block;
  margin: 0 auto; }
  .feeling-lucky:hover {
    background-color: #4285f4;
    color: #fff; }
  @media (min-width: 768px) {
    .feeling-lucky {
      margin: 0 auto;
      width: 127px; } }

@media (min-width: 768px) {
  .has-user-input-header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    margin: 0 0 30px; } }

@media (min-width: 768px) {
  .has-user-input-logo {
    float: right;
    width: 150px;
    margin: 0; } }

.has-user-input-form {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .has-user-input-form {
      margin: 0; } }

@media (min-width: 768px) {
  .has-user-input-lucky {
    background-color: #fff;
    border-color: #e5e5e5;
    margin: 0;
    display: inline-block;
    width: auto; } }

.container-fluid {
  padding: 0 15px;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .container-fluid {
      background-color: #fff; } }

.result {
  margin-bottom: 23px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background-color: #fff; }
  .result:first-child {
    margin-top: 30px; }
  @media (min-width: 768px) {
    .result {
      padding: 0;
      border: none; } }

.no-result {
  margin: 40px 0 0; }
  .no-result p {
    font-size: 16px; }
  .no-result ul {
    font-size: 16px; }

@keyframes pop {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.03); } }

/*# sourceMappingURL=style.css.map */
