@import '../../../sass/_variables';

.cell {
    margin: 1px;
    border-radius: $cell-border-radius;
    width: $cell-diameter;
    height: $cell-diameter;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .3),
        inset -1px -1px 1px rgba(0, 0, 0, .3);
    
    &.dead {
        background-color: $dead;
        box-shadow: inset -1px -1px 1px rgba(255, 255, 255, .1),
            inset 1px 1px 1px rgba(0, 0, 0, .3);
    }

    &.young {
        background-color: $young;
    }
    
    &.one {
        background-color: $one;
    }
    
    &.old {
        background-color: $old;
    }

}

