@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(https://fonts.googleapis.com/css?family=Vidaloka);

$font: 12px/1 sans-serif;
$font-tooltip: normal 13px/1 sans-serif;
$h4: normal 24px/1 'Cabin Sketch', sans-serif;
$h1: normal 3em/1.5 'Vidaloka', serif;
$h2: bold 2em/1.5 sans-serif;

$color-tooltip: #3e3e3e;
$color-shadow: gray;
$color-background: #f0f0f0;

* { box-sizing: border-box; }

%base {
  margin: 0px;
  padding: 0;
}

html {
  @extend %base;
}

body {
  @extend %base;
  font: $font;
  padding-top: 40px;
  background-color: $color-background;
}

header {
  padding: 0 25px 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-end;
  p {
    font: $font-tooltip;
    margin: 4px;
  }
}

@mixin headers($width, $align) {
  width: $width;
  text-align: $align;
}

.header-left {
  @include headers(66.66%,left);
}
.header-right {
  @include headers(33.33%, right)
}

h1 {
  font: $h1;
  margin: 8px 0;
}

h2 {
  font: $h2;
  margin: 3px 0;
}

main {
  width: 1250px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: white;
  border: 1px solid #aaa;
  box-shadow: 0 2px 10px 0 $color-shadow;
}

.h4 {
  font: $h4;
  margin: 3px 0;
}

.tooltip {
  width: 160px;
  text-align: center;
  position: fixed;
  padding: 10px;
  background-color: $color-tooltip;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .3s ease;
  box-shadow: 0 2px 5px 0 $color-shadow;
  font: $font-tooltip;
  color: white;
  pointer-events: none;
  p {
    margin: 4px;
  }
}
