$color-primary: #6441a5;
$color-secondary: #7550ba;
$color-body: #69707a;

.hero.is-primary {
  background-color: $color-primary;
}

.hero.is-primary .tabs.is-boxed li.is-active a {
  color: $color-primary;
  font-size: 18px;
  &:hover {
    color: $color-secondary;
  }
}

.control.is-grouped .input:first-child {
  border-radius: 16px 0 0 16px;
  padding-left: 20px
}

.control.is-grouped .button.is-default {
  border-radius: 0 16px 16px 0;
  color: $color-primary;
  padding: 3px 12px 3px 8px;
}

strong a {
  color: $color-body;
  &:link {
    color: $color-body;
  }
  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }
}

.media.box {
  padding: 20px;
  &:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.1),0 0 0 1px rgba(0,0,0,0.2);
  }
}

.media-left {
  margin-right: 20px;
}

img {
  opacity: 0.8;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
