// colours
$color-primary: #4285f4;
$color-secondary: #3b78e7;
$color-main: #fff;
$color-header: #f1f1f1;
$color-border: #e5e5e5;
$color-link: #1a0dab;
$color-link-visited: #609;
$color-cite: #006621;
$color-font: #545454;

// media queries
@mixin respond-to($query, $value) {
  @media ($query: $value) {
    @content;
  }
}

// fonts
%base-font {
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

h3 {
  @extend %base-font;
  font-size: 18px;
  margin: 0;
  min-height: 21px;
  line-height: 21.6px;
  text-decoration: none;
  color: $color-link;
  & a {
    color: $color-link;
  }
  & a:visited {
    color: $color-link-visited;
    text-decoration: underline;
  }
}

cite {
  @extend %base-font;
  font-size: 14px;
  line-height: 16px;
  color: $color-cite;
  word-break: break-all;
}

p {
  @extend %base-font;
}


// Header

.page-header {
  padding: 13px 15px;
  border-bottom: none;
  @include respond-to(min-width, 768px) {
    background-color: $color-header;
    border-bottom: 1px solid $color-border;
    height: 60px;
    margin: 0 0 30px;
  };
}

.logo {
  position: relative;
  display: block;
  margin: 20px auto 10px;
  width: 50vw;
  height: auto;
  animation: pop 0.2s 2s 2 ease forwards;
  path {
    transform-origin: center center;
    transition: transform 0.1s ease-out;
    &:hover {
      transform: rotateY(180deg);
    }
  }
  @include respond-to(min-width, 768px) {
    float: right;
    width: 150px;
    margin: 0;
  }
}

.form-group {
  margin-bottom: 25px;
  @include respond-to(min-width, 768px) {
    margin: 0;
  };
}

.form-control {
  font-size: 16px;
  height: 38px;
  border-radius: 0;
  border-color: $color-border;
}

.btn {
  height: 38px;
  border-radius: 0;
}

.btn-search {
  width: 38px;
  background-color: $color-primary;
  &:hover {
    background-color: $color-secondary;
  }
  span {
    font-size: 18px;
    margin: 2px 0 0 -4px;
  }
}

.feeling-lucky {
  color: $color-font;
  background-color: $color-main;
  border-color: $color-border;
  display: block;
  margin: 0 auto;
  &:hover {
    background-color: $color-primary;
    color: $color-main;
  }
  @include respond-to(min-width, 768px) {
    margin: 0;
    display: inline-block;
  };
}


// Search results

.container-fluid {
  padding: 0 15px;
  background-color: $color-header;
  @include respond-to(min-width, 768px) {
    background-color: $color-main;
  };
}

.result {
  margin-bottom: 23px;
  padding: 10px;
  border: 1px solid $color-border;
  background-color: $color-main;
  &:first-child {
    margin-top: 30px;
  }
  @include respond-to(min-width, 768px) {
    padding: 0;
    border: none;
  };
}

.no-result {
  margin: 40px 0 0;
  p {
    font-size: 16px;
  }
  ul {
    font-size: 16px;
  }
}

@keyframes pop {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}


// TODO: Wikioogle homepage

// main {
//   background: $color-main;
// }
//
// .input-group-btn {
//   z-index: -10;
// }
