// CSS pie timer: https://css-tricks.com/css-pie-timer/
// SVG pie timer: http://codepen.io/agrimsrud/pen/EmCoa
// Timer done in almost pure CSS: http://codepen.io/redfrost/pen/dPmLVQ/?editors=0100

// https://cssanimation.rocks/clocks/

$h1: normal normal 11vw/1.5 'Monofett', cursive;
$p: normal normal 1.3em/1.5 'Open Sans Condensed', sans-serif;

$color-base: lighten(#fcdca3, 10%);
$color-down-1: #f26e5b;
$color-down-2: #72342b;
$color-up-1: #97ffc5;
$color-up-2: #57af7e;
$color-break: lighten(desaturate(#c2d0e3, 15%), 2%);

@mixin respond-to($query, $value) {
  @media ($query: $value) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  @extend html;
  background-color: $color-base;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

header {
  width: 100%;
  margin: 40px 0;
  color: $color-down-2;
  @include respond-to(min-width, 768px) {
    margin: 5px 0 20px;
  };

  h1 {
    font: $h1;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 5px $color-up-1;
    @include respond-to(min-width, 768px) {
      font-size: 8vw;
    };
    @include respond-to(min-width, 1024px) {
      font-size: 6vw;
    };
  }
}

$timer-height-sm: calc((100vw - 30px) * 0.8);
$timer-height-md: calc((100vw - 30px) * 0.35);
$timer-height-lg: calc((100vw - 30px) * 0.25);
.timer {
  width: 80%;
  margin: 0 10px;
  position: relative;
  background: $color-base url(../clock_bg.svg) no-repeat center;
  background-size: 100%;
  height: $timer-height-sm;
  @include respond-to(min-width, 768px) {
    height: $timer-height-md;
    width: 35%;
    order: 2;
    margin-bottom: 40px;
  };
  @include respond-to(min-width, 1024px) {
    height: $timer-height-lg;
    width: 25%;
  };
}

@mixin timer-container($width, $height, $top: 0, $left: 0) {
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.seconds-container {
  @include timer-container(100%, 50%);
  transform: rotate(360deg);
  transform-origin: bottom center;
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  z-index: 10;
}

$second-hand-length: 75%;
.seconds {
  position: relative;
  width: 1%;
  height: $second-hand-length;
  background-color: $color-down-1;
}

$minutes-diameter: 70%;
.minutes-container {
  @include timer-container(
    $minutes-diameter,
    $minutes-diameter,
    calc((100% - #{$minutes-diameter}) / 2),
    calc((100% - #{$minutes-diameter}) / 2)
  );
}

// the nested brackets correspend directly to $timer-height
@mixin semi-circle($radius) {
  width: 50%;
  height: 100%;
  border-radius: 0 $radius $radius 0;
}

@mixin mask($z) {
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  background-color: $color-base;
  overflow: hidden;
  transform-origin: left center;
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  z-index: $z;
  &:first-child {
    left: calc(50% + 1px);
    transform: rotate(180deg);
  }
}

$minute-radius: calc( ((100vw - 30px) * 0.8) * 0.7);
.minutes {
  @include semi-circle($minute-radius);
  background-color: $color-up-2;
  // box-shadow: 4px 0 5px 1px $color-up-1;
  z-index: 2;
  &:first-child {
    transform: rotate(180deg);
    z-index: 1;
  }
}

.minutes-mask-container {
  @include timer-container(
    calc(#{$minutes-diameter} + 5%),
    calc(#{$minutes-diameter} + 5%),
    calc(((100% - #{$minutes-diameter}) - 5%)/ 2),
    calc(((100% - #{$minutes-diameter}) - 5%)/ 2)
  );
}

.minutes-full-mask {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 80%;
  background-color: $color-base;
  z-index: 5;
}

.minutes-mask {
  @include semi-circle(calc( ((100vw - 30px) * 0.8) * 0.75));
  @include mask(3);
  transform: rotate(150deg);
  &:first-child {
    transform: rotate(180deg);
  }
}

$break-diameter: 55%;
.break-container {
  @include timer-container(
  $break-diameter,
  $break-diameter,
  calc((100% - #{$break-diameter}) / 2),
  calc((100% - #{$break-diameter}) / 2)
  );
}

.break {
  @include semi-circle($minute-radius);
  // background-color: lighten(desaturate($color-up-2, 5%), 35%);
  background-color: $color-break;
  z-index: 6;
  &:first-child {
    transform: rotate(180deg);
    // z-index: 6;
  }
}

.break-mask-container {
  @include timer-container(
    calc(#{$break-diameter} + 5%),
    calc(#{$break-diameter} + 5%),
    calc(((100% - #{$break-diameter}) - 5%)/ 2),
    calc(((100% - #{$break-diameter}) - 5%)/ 2)
  );
}

.break-full-mask {
  position: absolute;
  width: 74%;
  height: 74%;
  top: 13%;
  left: 13%;
  border-radius: 74%;
  background-color: $color-base;
  z-index: 10;
}

.break-mask {
  @include semi-circle(calc( ((100vw - 30px) * 0.8) * 0.75));
  @include mask(8);
  transform: rotate(30deg);
  &:first-child {
    transform: rotate(180deg);
  }
}

$remaining-time-size: 40%;
.remaining-time {
  position: absolute;
  width: $remaining-time-size;
  height: $remaining-time-size;
  border-radius: 50%;
  top: calc(50% - (#{$remaining-time-size} / 2));
  left: calc(50% - (#{$remaining-time-size} / 2));
  background-color: desaturate(darken($color-base, 8%), 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  p {
    font: $p;
    color: $color-down-2;
    line-height: 1;
    text-align: center;
    width: 100%;
    margin: 0;
    &.remaining-minutes {
      font-size: 2em;
    }
  }
}

.btn {
  color: $color-down-2;
  font-size: 0.9em;
  background-color: $color-down-1;
  border: 1px solid $color-down-2;
  border-radius: 8px;
  min-width: 38px;
  min-height: 48px;
  padding: 0;
  transition: all 0.2s ease;
  &:hover {
    background-color: $color-up-2;
    border: 1px solid $color-up-1;
    color: $color-up-1;
  }
  &:disabled {
    @extend %disabled;
    border: 1px solid desaturate(lighten($color-down-2, 40%), 20%);;
  }
  i {
    margin-right: 5px;
  }
}

.duration {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: $color-down-2;
  p {
    font: $p;
    text-align: center;
    text-transform: uppercase;
    margin: 2px 0;
    width: 100%;
  }
  span {
    font: $p;
    font-size: 1.5em;
    text-align: center;
    margin: 0 5px;
    min-width: 44px;
  }
  @include respond-to(min-width, 768px) {
    width: 20%;
  };
  @include respond-to(min-width, 1024px) {
    width: 14%;
  };
  &.rest {
    @include respond-to(min-width, 768px) {
      order: 1;
    };
  }
  &.session {
    @include respond-to(min-width, 768px) {
      order: 3;
    };
  }
  .btn {
    color: $color-down-2;
    background-color: $color-base;
    border: none;
    font: $p;
    font-size: 1.7em;
    &:hover {
      background-color: $color-down-1;
      border: 1px solid $color-down-2;
      border-radius: 8px;
    }
    &:disabled {
      @extend %disabled;
      border: none;
    }
  }
}

%disabled {
  background-color: $color-base;
  color: desaturate(lighten($color-down-2, 40%), 20%);
  cursor: not-allowed;
}

.faded {
  @extend %disabled;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  @include respond-to(min-width, 768px) {
    width: 80%;
    order: 4;
  };
}

.control-btn {
  display: block;
  width: 33.33%;
  padding: 10px;
  .btn {
    width: 100%;
    height: 48px;
  }
  @include respond-to(min-width, 768px) {
    width: 25%;
  };
  @include respond-to(min-width, 1024px) {
    width: 20%;
  };
}
